@charset "iso-8859-2";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	background-color: #D2E9FF;
}

.contenido {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF;
	border: 1px solid #CCC;
	
}
td {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}
td.indice {
	border: 1px solid #CCC;
}

td.normal {
	border-style: none;
}

p.letra {
	font-size: x-large;
	color: #036;
	margin-bottom: 2px;
	margin-top: -2px;
}

li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	list-style-position: outside;
	list-style-image: url(imagenes/1278607771_book-open.png);
}

li.pdf {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	list-style-position: outside;
	list-style-image: url(imagenes/1278609759_pdf.png);
}

h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: x-large;
	color: #036;
}

a {
	color: #036;
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}

h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
	font-style:italic;
	color: #069;
}

h2.noticias {
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;
	font-style:italic;
	color: #036;
	background-color:#D2E9FF;
}

a.tipo1 {
	font-size: x-large;
	color: #036;
	text-decoration: none;
}
a.tipo2 {
	font-size: large;
	color: #036;
	text-decoration: none;
}
a.tipo3 {
	font-size: medium;
	color: #036;
	text-decoration: none;
}

a.tipo4 {
	font-size: x-small;
	color: #036;
	text-decoration: none;
}

a.tipo1:hover {
	text-decoration:underline;
}
a.tipo2:hover {
	text-decoration:underline;
}
a.tipo3:hover {
	text-decoration:underline;
}
a.tipo4:hover {
	text-decoration:underline;
}

.gran {
	font-size: small;
}

.peq2  {
	font-size: small;
}

h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
	color: #069;
}
